@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

body {
    font-family: "Fira Code", monospace;
    box-sizing: border-box;
    background-color: #0F1E2E;
    margin-top: 12em;
}

.card {
    width: 35em;
    padding: 1em;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #1C2340;
    border-radius: 8px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}

.card img{
    width: 35%;
}

.other-text {
    padding-right: 3em;
}

h3 {
    color: #A8B8CC;
    font-weight: 500;
}

p {
    color: #4C607A;
    font-size: 0.8rem;
}